<!DOCTYPE html>
<html>
<head>
  <title>SparkPlugs</title>
  <%= stylesheet_link_tag    "spark_plugs/application", media: "all" %>
  <%= javascript_include_tag "spark_plugs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
